@{
    ViewBag.Title = "Azure SQL Database Stress Test";
}

<h2>@ViewBag.Title</h2>

<hr />
@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.StatusMessage
    </div>
}

@using (Html.BeginForm("Start", "Testing", FormMethod.Post))
{
    <div class="form-group">
        <span class="control-label">ConnectionString [Required]</span>
        <div>
            @Html.TextBox("connectionString", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="control-label">TableName [Default:Testing Drop and Create]</span>
        <div>
            @Html.TextBox("table", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="control-label">WriteCount [Default:10000]</span>
        <div>
            @Html.TextBox("writeCount", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="control-label">ReadCount [Default:10000]</span>
        <div>
            @Html.TextBox("readCount", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <span class="control-label">MaxThreadCount [Default:20]</span>
        <div>
            @Html.TextBox("maxThreadCount", null, new { @class = "form-control" })
        </div>
    </div>

    <button type="submit" class="btn btn-default" value="start" title="Start Testing">Start Testing</button>
}